h1{
    background-color: floralwhite;
    width: 20%;
    font-size: 220%;
}

*{
    font-size: 110%;
}

#habilidades{
    font-size: 140%;
    background-color: palegoldenrod;
    
}

#experiencia{
    font-size: 140%;
    background-color: mediumspringgreen;
}

.conocimiento{
    color:palevioletred;
}

.desarrollo{
    color: indigo
}

.exp{
    background-color: mediumaquamarine;
}
hr{
    width: 75%;
}
p{
    font-size: 115%;
}
.ajuste{
    text-align: center;
}